/.DS_Store
/.fleet
/jetbrains-toolbox-2.1.0.18144.exe
/Q11
/test.m
Part1/geomCarre_per.geo
Part1/geomCarre_per.msh
Part1/geomCarre.geo
Part1/geomCarre.msh
Part1/mat_A.m
Part1/matK_elem_old.m
Part1/matK_elem.m
Part1/matM_elem.m
Part1/principal_dirichlet.m
Part1/principal_neumann.m
Part1/principal_periodique.m
Part1/quadrature.m
untitled1.svg
.gitignore
untitled2.svg
resultats/P1/Q6Q7/cv.png
resultats/P1/Q6Q7/e1.png
resultats/P1/Q6Q7/e2.png
resultats/P1/Q6Q7/e3.png
resultats/P1/Q6Q7/e4.png
resultats/P1/Q6Q7/h1.png
resultats/P1/Q6Q7/h2.png
resultats/P1/Q6Q7/h3.png
resultats/P1/Q6Q7/h4.png
resultats/P1/Q6Q7/res_terminal.png
.gitignore
resultats/P1/Q9Q10/cv.png
resultats/P1/Q9Q10/e1.png
resultats/P1/Q9Q10/e2.png
resultats/P1/Q9Q10/e3.png
resultats/P1/Q9Q10/e4.png
resultats/P1/Q9Q10/h1.png
resultats/P1/Q9Q10/h2.png
resultats/P1/Q9Q10/h3.png
resultats/P1/Q9Q10/h4.png
resultats/P1/Q9Q10/res_terminal.png
resultats/P1/Q11/ep1.png
resultats/P1/Q11/ep2.png
resultats/P1/Q11/ep3.png
resultats/P1/Q11/ep4.png
resultats/P1/Q11/ep5.png
resultats/P1/Q11/ep6.png
gmsh-4.11.1-Windows64.zip
gmsh.exe
resultats/P1/Q16/cv.png
resultats/P1/Q16/e1.png
resultats/P1/Q16/e2.png
resultats/P1/Q16/e3.ofig
resultats/P1/Q16/e3.png
resultats/P1/Q16/e4.png
resultats/P1/Q16/h1.png
resultats/P1/Q16/h2.png
resultats/P1/Q16/h3.png
resultats/P1/Q16/h4.png
resultats/P1/Q16/res_terminal.png
resultats/P1/Q18/cv.png
resultats/P1/Q18/e1.png
resultats/P1/Q18/e2.png
resultats/P1/Q18/e3.png
resultats/P1/Q18/e4.ofig
resultats/P1/Q18/h1.png
resultats/P1/Q18/h2.png
resultats/P1/Q18/h3.png
resultats/P1/Q18/h4.png
resultats/P1/Q18/res_terminal.png
resultats/P2/Q2Q3Q4/c0.png
resultats/P2/Q2Q3Q4/c1.png
resultats/P2/Q2Q3Q4/c2.png
resultats/P2/Q2Q3Q4/c3.png
resultats/P2/Q2Q3Q4/c4.png
resultats/P2/Q2Q3Q4/e.png
resultats/P2/Q2Q3Q4/res_terminal.png
resultats/P2/Q7Q8/res_terminal0.png
resultats/P2/Q7Q8/res_terminal1.png
resultats/P2/Q7Q8/wx0.png
resultats/P2/Q7Q8/wx1.png
resultats/P2/Q7Q8/wy0.png
resultats/P2/Q7Q8/wy1.png
resultats/P2/Q9Q10/res_terminal0.png
resultats/P2/Q9Q10/res_terminal1.png
resultats/P2/Q9Q10/res_terminal2.png
resultats/P2/Q9Q10/res_terminal3.png
resultats/P2/Q9Q10/res_terminal4.png
resultats/P2/Q9Q10/wx0.png
resultats/P2/Q9Q10/wx1.png
resultats/P2/Q9Q10/wx2.png
resultats/P2/Q9Q10/wx3.png
resultats/P2/Q9Q10/wx4.png
resultats/P2/Q9Q10/wy0.png
resultats/P2/Q9Q10/wy1.png
resultats/P2/Q9Q10/wy2.png
resultats/P2/Q9Q10/wy3.png
resultats/P2/Q9Q10/wy4.png
resultats/P2/Q11/e.png
resultats/P2/Q11/h.png
resultats/P2/Q11/res_terminal.png
resultats/P2/Q11/wx.png
resultats/P2/Q11/wy.png
dpng.ps
resultats/P3/Q1Q2Q3/cv.png
resultats/P3/Q1Q2Q3/e.png
resultats/P3/Q1Q2Q3/homo.png
resultats/P3/Q1Q2Q3/oc1.png
resultats/P3/Q1Q2Q3/oc2.png
resultats/P3/Q1Q2Q3/oc3.png
resultats/P3/Q1Q2Q3/oc4.png
resultats/P3/Q1Q2Q3/oc5.png
resultats/P3/Q1Q2Q3/oc6.png
resultats/P3/Q1Q2Q3/oc7.png
resultats/P3/Q1Q2Q3/oc8.png
resultats/P3/Q1Q2Q3/oc9.png
resultats/P3/Q1Q2Q3/oc10.png
resultats/P3/Q1Q2Q3/oc11.png
resultats/P3/Q1Q2Q3/res_terminal0.png
resultats/P3/Q1Q2Q3/res_terminal1.png
resultats/P3/Q1Q2Q3/wx.png
resultats/P3/Q1Q2Q3/wy.png
projetX01KE.zip
projetX01KE/affiche.m
projetX01KE/affichemaillage.m
projetX01KE/f.m
projetX01KE/geomCarre_per_cellule.geo
projetX01KE/geomCarre_per_cellule.msh
projetX01KE/geomCarre_per.geo
projetX01KE/geomCarre_per.msh
projetX01KE/geomCarre.geo
projetX01KE/geomCarre.msh
projetX01KE/lecture_msh.m
projetX01KE/mat_A.m
projetX01KE/matK_elem_dynamique.m
projetX01KE/matK_elem_old.m
projetX01KE/matK_elem.m
projetX01KE/matM_elem.m
projetX01KE/principal_dirichlet_cellule_homo.m
projetX01KE/principal_dirichlet_cellule.m
projetX01KE/principal_dirichlet.m
projetX01KE/principal_neumann.m
projetX01KE/principal_periodique_cellule.m
projetX01KE/principal_periodique.m
projetX01KE/quadrature.m
projetX01KE/resultats/P1/Q11/ep1.png
projetX01KE/resultats/P1/Q11/ep2.png
projetX01KE/resultats/P1/Q11/ep3.png
projetX01KE/resultats/P1/Q11/ep4.png
projetX01KE/resultats/P1/Q11/ep5.png
projetX01KE/resultats/P1/Q11/ep6.png
projetX01KE/resultats/P1/Q16/cv.png
projetX01KE/resultats/P1/Q16/e1.png
projetX01KE/resultats/P1/Q16/e2.png
projetX01KE/resultats/P1/Q16/e3.png
projetX01KE/resultats/P1/Q16/e4.png
projetX01KE/resultats/P1/Q16/h1.png
projetX01KE/resultats/P1/Q16/h2.png
projetX01KE/resultats/P1/Q16/h3.png
projetX01KE/resultats/P1/Q16/h4.png
projetX01KE/resultats/P1/Q16/res_terminal.png
projetX01KE/resultats/P1/Q18/cv.png
projetX01KE/resultats/P1/Q18/e1.png
projetX01KE/resultats/P1/Q18/e2.png
projetX01KE/resultats/P1/Q18/e3.png
projetX01KE/resultats/P1/Q18/e4.ofig
projetX01KE/resultats/P1/Q18/h1.png
projetX01KE/resultats/P1/Q18/h2.png
projetX01KE/resultats/P1/Q18/h3.png
projetX01KE/resultats/P1/Q18/h4.png
projetX01KE/resultats/P1/Q18/res_terminal.png
projetX01KE/resultats/P1/Q6Q7/cv.png
projetX01KE/resultats/P1/Q6Q7/e1.png
projetX01KE/resultats/P1/Q6Q7/e2.png
projetX01KE/resultats/P1/Q6Q7/e3.png
projetX01KE/resultats/P1/Q6Q7/e4.png
projetX01KE/resultats/P1/Q6Q7/h1.png
projetX01KE/resultats/P1/Q6Q7/h2.png
projetX01KE/resultats/P1/Q6Q7/h3.png
projetX01KE/resultats/P1/Q6Q7/h4.png
projetX01KE/resultats/P1/Q6Q7/res_terminal.png
projetX01KE/resultats/P1/Q9Q10/cv.png
projetX01KE/resultats/P1/Q9Q10/e1.png
projetX01KE/resultats/P1/Q9Q10/e2.png
projetX01KE/resultats/P1/Q9Q10/e3.png
projetX01KE/resultats/P1/Q9Q10/e4.png
projetX01KE/resultats/P1/Q9Q10/h1.png
projetX01KE/resultats/P1/Q9Q10/h2.png
projetX01KE/resultats/P1/Q9Q10/h3.png
projetX01KE/resultats/P1/Q9Q10/h4.png
projetX01KE/resultats/P1/Q9Q10/res_terminal.png
projetX01KE/resultats/P2/Q11/e.png
projetX01KE/resultats/P2/Q11/h.png
projetX01KE/resultats/P2/Q11/res_terminal.png
projetX01KE/resultats/P2/Q11/wx.png
projetX01KE/resultats/P2/Q11/wy.png
projetX01KE/resultats/P2/Q2Q3Q4/c0.png
projetX01KE/resultats/P2/Q2Q3Q4/c1.png
projetX01KE/resultats/P2/Q2Q3Q4/c2.png
projetX01KE/resultats/P2/Q2Q3Q4/c3.png
projetX01KE/resultats/P2/Q2Q3Q4/c4.png
projetX01KE/resultats/P2/Q2Q3Q4/e.png
projetX01KE/resultats/P2/Q2Q3Q4/res_terminal.png
projetX01KE/resultats/P2/Q7Q8/res_terminal0.png
projetX01KE/resultats/P2/Q7Q8/res_terminal1.png
projetX01KE/resultats/P2/Q7Q8/wx0.png
projetX01KE/resultats/P2/Q7Q8/wx1.png
projetX01KE/resultats/P2/Q7Q8/wy0.png
projetX01KE/resultats/P2/Q7Q8/wy1.png
projetX01KE/resultats/P2/Q9Q10/res_terminal0.png
projetX01KE/resultats/P2/Q9Q10/res_terminal1.png
projetX01KE/resultats/P2/Q9Q10/res_terminal2.png
projetX01KE/resultats/P2/Q9Q10/res_terminal3.png
projetX01KE/resultats/P2/Q9Q10/res_terminal4.png
projetX01KE/resultats/P2/Q9Q10/wx0.png
projetX01KE/resultats/P2/Q9Q10/wx1.png
projetX01KE/resultats/P2/Q9Q10/wx2.png
projetX01KE/resultats/P2/Q9Q10/wx3.png
projetX01KE/resultats/P2/Q9Q10/wx4.png
projetX01KE/resultats/P2/Q9Q10/wy0.png
projetX01KE/resultats/P2/Q9Q10/wy1.png
projetX01KE/resultats/P2/Q9Q10/wy2.png
projetX01KE/resultats/P2/Q9Q10/wy3.png
projetX01KE/resultats/P2/Q9Q10/wy4.png
projetX01KE/resultats/P3/Q1Q2Q3/cv.png
projetX01KE/resultats/P3/Q1Q2Q3/e.png
projetX01KE/resultats/P3/Q1Q2Q3/homo.png
projetX01KE/resultats/P3/Q1Q2Q3/oc1.png
projetX01KE/resultats/P3/Q1Q2Q3/oc2.png
projetX01KE/resultats/P3/Q1Q2Q3/oc3.png
projetX01KE/resultats/P3/Q1Q2Q3/oc4.png
projetX01KE/resultats/P3/Q1Q2Q3/oc5.png
projetX01KE/resultats/P3/Q1Q2Q3/oc6.png
projetX01KE/resultats/P3/Q1Q2Q3/oc7.png
projetX01KE/resultats/P3/Q1Q2Q3/oc8.png
projetX01KE/resultats/P3/Q1Q2Q3/oc9.png
projetX01KE/resultats/P3/Q1Q2Q3/oc10.png
projetX01KE/resultats/P3/Q1Q2Q3/oc11.png
projetX01KE/resultats/P3/Q1Q2Q3/res_terminal0.png
projetX01KE/resultats/P3/Q1Q2Q3/res_terminal1.png
projetX01KE/resultats/P3/Q1Q2Q3/wx.png
projetX01KE/resultats/P3/Q1Q2Q3/wy.png
projetX01KE/validation/geomCarre_per_cellule.geo
projetX01KE/validation/geomCarre_per_cellule.msh
projetX01KE/validation/geomCarre_per2.geo
projetX01KE/validation/geomCarre_per2.msh
projetX01KE/validation/geomCarre_per3.geo
projetX01KE/validation/geomCarre_per3.msh
projetX01KE/validation/geomCarre_per4.geo
projetX01KE/validation/geomCarre_per4.msh
projetX01KE/validation/geomCarre_per5.geo
projetX01KE/validation/geomCarre_per5.msh
projetX01KE/validation/geomCarre_per6.geo
projetX01KE/validation/geomCarre_per6.msh
projetX01KE/validation/geomCarre2.geo
projetX01KE/validation/geomCarre2.msh
projetX01KE/validation/geomCarre3.geo
projetX01KE/validation/geomCarre3.msh
projetX01KE/validation/geomCarre4.geo
projetX01KE/validation/geomCarre4.msh
projetX01KE/validation/geomCarre5.geo
projetX01KE/validation/geomCarre5.msh
projetX01KE/validation/geomCarre6.geo
projetX01KE/validation/geomCarre6.msh
