/.DS_Store
/.fleet
/jetbrains-toolbox-2.1.0.18144.exe
/Q11
/test.m
Part1/geomCarre_per.geo
Part1/geomCarre_per.msh
Part1/geomCarre.geo
Part1/geomCarre.msh
Part1/mat_A.m
Part1/matK_elem_old.m
Part1/matK_elem.m
Part1/matM_elem.m
Part1/principal_dirichlet.m
Part1/principal_neumann.m
Part1/principal_periodique.m
Part1/quadrature.m
untitled1.svg
.gitignore
untitled2.svg
resultats/P1/Q6Q7/cv.png
resultats/P1/Q6Q7/e1.png
resultats/P1/Q6Q7/e2.png
resultats/P1/Q6Q7/e3.png
resultats/P1/Q6Q7/e4.png
resultats/P1/Q6Q7/h1.png
resultats/P1/Q6Q7/h2.png
resultats/P1/Q6Q7/h3.png
resultats/P1/Q6Q7/h4.png
resultats/P1/Q6Q7/res_terminal.png
.gitignore
resultats/P1/Q9Q10/cv.png
resultats/P1/Q9Q10/e1.png
resultats/P1/Q9Q10/e2.png
resultats/P1/Q9Q10/e3.png
resultats/P1/Q9Q10/e4.png
resultats/P1/Q9Q10/h1.png
resultats/P1/Q9Q10/h2.png
resultats/P1/Q9Q10/h3.png
resultats/P1/Q9Q10/h4.png
resultats/P1/Q9Q10/res_terminal.png
resultats/P1/Q11/ep1.png
resultats/P1/Q11/ep2.png
resultats/P1/Q11/ep3.png
resultats/P1/Q11/ep4.png
resultats/P1/Q11/ep5.png
resultats/P1/Q11/ep6.png
gmsh-4.11.1-Windows64.zip
gmsh.exe
resultats/P1/Q16/cv.png
resultats/P1/Q16/e1.png
resultats/P1/Q16/e2.png
resultats/P1/Q16/e3.ofig
resultats/P1/Q16/e3.png
resultats/P1/Q16/e4.png
resultats/P1/Q16/h1.png
resultats/P1/Q16/h2.png
resultats/P1/Q16/h3.png
resultats/P1/Q16/h4.png
resultats/P1/Q16/res_terminal.png
resultats/P1/Q18/cv.png
resultats/P1/Q18/e1.png
resultats/P1/Q18/e2.png
resultats/P1/Q18/e3.png
resultats/P1/Q18/e4.ofig
resultats/P1/Q18/h1.png
resultats/P1/Q18/h2.png
resultats/P1/Q18/h3.png
resultats/P1/Q18/h4.png
resultats/P1/Q18/res_terminal.png
resultats/P2/Q2Q3Q4/c0.png
resultats/P2/Q2Q3Q4/c1.png
resultats/P2/Q2Q3Q4/c2.png
resultats/P2/Q2Q3Q4/c3.png
resultats/P2/Q2Q3Q4/c4.png
resultats/P2/Q2Q3Q4/e.png
resultats/P2/Q2Q3Q4/res_terminal.png
resultats/P2/Q7Q8/res_terminal0.png
resultats/P2/Q7Q8/res_terminal1.png
resultats/P2/Q7Q8/wx0.png
resultats/P2/Q7Q8/wx1.png
resultats/P2/Q7Q8/wy0.png
resultats/P2/Q7Q8/wy1.png
resultats/P2/Q9Q10/res_terminal0.png
resultats/P2/Q9Q10/res_terminal1.png
resultats/P2/Q9Q10/res_terminal2.png
resultats/P2/Q9Q10/res_terminal3.png
resultats/P2/Q9Q10/res_terminal4.png
resultats/P2/Q9Q10/wx0.png
resultats/P2/Q9Q10/wx1.png
resultats/P2/Q9Q10/wx2.png
resultats/P2/Q9Q10/wx3.png
resultats/P2/Q9Q10/wx4.png
resultats/P2/Q9Q10/wy0.png
resultats/P2/Q9Q10/wy1.png
resultats/P2/Q9Q10/wy2.png
resultats/P2/Q9Q10/wy3.png
resultats/P2/Q9Q10/wy4.png
