/.DS_Store
/.fleet
/jetbrains-toolbox-2.1.0.18144.exe
/Q11
/test.m
Part1/geomCarre_per.geo
Part1/geomCarre_per.msh
Part1/geomCarre.geo
Part1/geomCarre.msh
Part1/mat_A.m
Part1/matK_elem_old.m
Part1/matK_elem.m
Part1/matM_elem.m
Part1/principal_dirichlet.m
Part1/principal_neumann.m
Part1/principal_periodique.m
Part1/quadrature.m
untitled1.svg
.gitignore
untitled2.svg
resultats/P1/Q6Q7/cv.png
resultats/P1/Q6Q7/e1.png
resultats/P1/Q6Q7/e2.png
resultats/P1/Q6Q7/e3.png
resultats/P1/Q6Q7/e4.png
resultats/P1/Q6Q7/h1.png
resultats/P1/Q6Q7/h2.png
resultats/P1/Q6Q7/h3.png
resultats/P1/Q6Q7/h4.png
resultats/P1/Q6Q7/res_terminal.png
.gitignore
resultats/P1/Q9Q10/cv.png
resultats/P1/Q9Q10/e1.png
resultats/P1/Q9Q10/e2.png
resultats/P1/Q9Q10/e3.png
resultats/P1/Q9Q10/e4.png
resultats/P1/Q9Q10/h1.png
resultats/P1/Q9Q10/h2.png
resultats/P1/Q9Q10/h3.png
resultats/P1/Q9Q10/h4.png
resultats/P1/Q9Q10/res_terminal.png
resultats/P1/Q11/ep1.png
resultats/P1/Q11/ep2.png
resultats/P1/Q11/ep3.png
resultats/P1/Q11/ep4.png
resultats/P1/Q11/ep5.png
resultats/P1/Q11/ep6.png
gmsh-4.11.1-Windows64.zip
gmsh.exe
